html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Manrope', sans-serif;
}
/*хедер*/
.Background {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block; 
    z-index: -1;
    filter: brightness(1.0);
}

header.container nav ul li a {
    text-decoration: none; 
    font-size: 16px;                                      
    font-weight: 500;                                     
    color: #0F1226;                                       
    transition: color 0.2s ease;    
}

header.container nav ul li a:hover {
    color: #6366F1;
}

header.container {
    padding: 15px 40px; 
    width: 100%;                           
    box-sizing: border-box;
}

header.container nav ul li:last-child a {
    background-color: #6366F1;  
    color: #FFFFFF;           
    padding: 10px 22px;       
    border-radius: 90px;        
    font-weight: 700;         
    box-shadow: 0 4px 14px rgba(99, 102, 241, 0.2); /* Мягкая тень под кнопкой */
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}
header.container nav ul li:last-child a:hover {
    background-color: #4F46E5;  /* Кнопка становится чуть темнее */
    color: #FFFFFF;             /* Оставляем текст белым */
    transform: translateY(-1px); /* Кнопка слегка приподнимается */
    box-shadow: 0 6px 20px rgba(99, 102, 241, 0.3); /* Тень становится глубже */
}
header.container nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}


header.container nav > div {
    display: flex;         
    align-items: center;  
    gap: 15px;            
}
.Platfio {
    height: 70px;         
    width: auto;
    display: block;    
    opacity: 0.3px;   
}
.Platfio:hover{
 
    transition: 0.7px;
}
header .Name {
    font-size: 25px;       
    font-weight: 800;     
    color: #0F1226;
    letter-spacing: -1px;   
    transition: color 0.7s ease;
   

}
header .Name:hover{
    color: #6366F1;
}
nav ul {
    list-style: none; 
    margin: 0;            
    padding: 0;  
    display: flex;
    align-items: center;   
    gap: 25px;             

}

.nav-item {
 
    font-size: 16px;       
}
/*Рзработка мейн страницы*/
.hero {
    padding: 40px 0;
    display: flex;
}
.hero-content {
    
    max-width: 1400px;        
    width: 100%;
   
    
}

.hero-content h1 {
  
    font-size: 55px;         
    font-weight: 800;        
    text-transform: uppercase; 
    line-height: 1.1;        
    color: #0F1226;          
    margin: 0;
    letter-spacing: 1px;
    margin-left: 150px;   
    transition: color  0.7s ease;
    margin-top: 80px;


}

.hero-content h1:hover {
    color: #6366F1;
} 